html{
    background-image: url(https://wallpapers.com/images/hd/coffee-aesthetic-book-desktop-tvxn424bb1zw2p40.jpg);
}

body{
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    position: relative;
    left:10px;
    top: 250px;
}